body {
    background-color: lightcyan;
}

#salesdata th {
    box-sizing: border-box;
    align-content: center;
}

#salesdata {
    padding: 8px;
    border-collapse: collapse;
    width: 100%;
}

#salesdata tr:nth-child(even) {
    background-color: rgb(179, 178, 178);
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(221, 159, 138);
    color: black;
}

#salesdata tr:hover {
    background-color: rgb(238, 163, 154);
}

table,
th,
td,
tr {
    border: solid medium black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

th,
td,
tr {
    text-align: center;
}

.tablefoot {
    background-color: rgb(179, 178, 178);
}

header {
    border: solid 5px black;
    background-color: rgb(98, 119, 57);
    height: 120px;
    margin: auto;
}

h1 {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    margin-top: 30px;
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
    text-align: center;
}

form {
    box-sizing: border-box;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(98, 119, 57);
    border: rgb(207, 133, 109) 6px solid;
    font-family: Arial, Helvetica, sans-serif
}

input[type=text] {
    background-color: white;
    padding: 3px;
}

fieldset {
    flex-direction: column;
    position: relative;
    padding: 15px;
}

button {
    background-color: black;
    color: rgb(207, 133, 109);
    cursor: pointer;
}

ul {
    box-sizing: content-box;
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 200px;
    background-color: #ffffff;
    border: 1px solid rgb(149, 148, 148);
}

li a {
    display: block;
    color: #000;
    padding: 8px 25px;
    text-decoration: none;
    box-shadow: 10px 5px 5px rgb(131, 131, 131);
}

li a.active {
    background-color: #050505;
    color: rgb(207, 133, 109);
}