body {
    font-size: large;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-image: url("/img/salmon-400xauto.png");
    background-repeat: repeat-x;
    background-position-x: 20%;
    background-position-y: center;
    background-size: 25%;
    border-bottom: 10px solid rgb(98, 119, 57);
    height: 250px;
}

#header {
    display: flex;
    position: relative;
}

h1 {
    background-color: rgb(98, 119, 57);
    box-shadow: 4px 5px 10px rgb(133, 144, 110);
    width: 250px;
    height: 185px;
    text-align: center;
    align-items: center;
    justify-self: center;
    display: flex;
    margin: 0 auto;
    border: black thin solid;
    border-radius: 55%;
    font-size: x-large;
}

ul,
li,
a {
    margin-top: 30px;
    margin-right: 35px;
    list-style: none;
    text-decoration: none;
}

main {
    display: flex;
    background-color: lightblue;
    border: thin black solid;
}

.about,
p {
    display: inline-block;
    width: 500px;
    height: 199px;
    margin: auto;
    border: thin black solid;
    background-color: floralwhite;
    position: relative;
}

.family {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-left: 40px;
}


/* Footer section */

#footer {
    position: fixed;
    height: 130px;
    width: 100%;
    background-color: rgb(207, 133, 109);
    color: black;
    text-decoration-style: none;
    bottom: 0px;
    border-top: thin solid rgb(207, 133, 109);
}

.locations {
    display: flex;
    text-decoration: none;
    margin: 0 auto;
    display: inline-block;
}

h3 {
    padding-top: 10px;
    text-align: center;
    align-items: center;
    justify-self: center;
}

ul,
li {
    text-align: center;
    align-items: center;
    justify-self: center;
    word-spacing: 3px;
}